.button {
    font-family: inherit;
    background: transparent;
    border: 2px solid transparent;
    text-align: center;
    font-size: 22px;
    border-radius: 1rem;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.05s ease-in-out;

    &:hover {
        transform: translateY(-2px);
    }

    &:active {
        transform: translateY(2px);
        box-shadow: none;
    }
}

.minus {
    background-color: var(--color-red);
    color: var(--color-light);
    box-shadow: var(--shadow-red);
    border: var(--border-red);
}

.plus {
    background-color: var(--color-green);
    color: var(--color-light);
    box-shadow: var(--shadow-green);
    border: var(--border-green);
}