:root {
  --color-light: hsl(0, 0%, 100%);
  --color-dark: hsl(0, 0%, 0%);
  --color-gray: #556581;
  --color-red: hsl(355, 78%, 56%);
  --color-green: hsl(173, 58%, 39%);

  --shadow-red: 0 4px 0 hsl(356, 83%, 41%);
  --shadow-green: 0 4px 0 hsl(173, 60%, 33%);

  --border-red: 1px solid hwb(356 7% 36%);
  --border-green: 1px solid hsl(172, 63%, 27%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}